<footer>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright:
    <a class="text-dark" href="https://mdbootstrap.com/">Rafael Bernardes</a>
    <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/rafael-wake/" role="button"
      target="_blank">
      <i class="fab fa-linkedin-in"></i>
    </a>
    <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/rafaelwake/" role="button"
      target="_blank">
      <i class="fab fa-github"></i>
    </a>
  </div>
</footer>