<div class="border-b border-gray-200 bg-white px-4 py-1 sm:px-6">
  <div class="-ml-4 -mt-2 flex flex-wrap items-center justify-between sm:flex-nowrap">
    <div class="ml-4 mt-2 mb-8 flex-shrink-0">
      <button type="button"
        class="relative inline-flex items-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Novo
        Compromisso</button>
    </div>
  </div>
</div>