<div class="flex flex-col lg:pt-40 w-full h-full py-4">
  <div class="shadow-lg flex flex-col rounded-lg py-3 px-4 h-full backdrop-blur-3xl bg-white/80">
    <h1 class="text-xl text-slate-500 mb-3 font-semibold">Guia Rápido - Plataforma de Compromissos Easy Scheduling</h1>
    <section class="mb-8">
      <h2 class="text-2xl font-semibold mb-2">Minha Agenda</h2>
      <h2 class="text-1xl font-semibold mb-2 translate-x-2">Ferramenta essencial para o gerenciamento de tempo e
        organização das
        atividades diárias, sejam elas pessoais ou profissionais.</h2>
      <h2 class="text-1xl font-semibold mb-2 translate-x-2">Com a Easy Scheduling, você controla e cadastra seus
        compromissos,
        ajudando a planejar e priorizar tarefas, além de evitar esquecimentos e atrasos.</h2>
      <h2 class="text-1xl font-semibold mb-3 translate-x-2">Para começar a usar, clique em Adicionar Evento e preencha
        os dados
        mostrados a seguir:</h2>
      <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2 translate-x-8">
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">
            Título
          </dt>
          <dd class="mt-1 text-sm text-gray-900">
            Descrição breve do compromisso.
          </dd>
        </div>
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">
            Descrição
          </dt>
          <dd class="mt-1 text-sm text-gray-900">
            Informações detalhadas do compromisso.
          </dd>
        </div>
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">
            Data
          </dt>
          <dd class="mt-1 text-sm text-gray-900">
            Data do compromisso.
          </dd>
        </div>
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">
            Duração
          </dt>
          <dd class="mt-1 text-sm text-gray-900">
            Duração estimada para o término.
          </dd>
        </div>
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">
            Local
          </dt>
          <dd class="mt-1 text-sm text-gray-900">
            Local onde ocorrerá o compromisso.
          </dd>
        </div>
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">
            Convite
          </dt>
          <dd class="mt-1 text-sm text-gray-900">
            Nome ou e-mail da pessoa convidada.
          </dd>
        </div>
      </dl>
      <p class="mt-4 translate-x-2">Você pode encontrar em compromissos a lista dos próximos eventos e também há um
        botão de
        notificações onde você pode aceitar convites de compromissos.</p>
    </section>

    <section class="mb-8">
      <h2 class="text-2xl font-semibold mb-2">Outras opções do menu lateral:</h2>
      <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2 translate-x-8">
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">
            Kanban
          </dt>
          <dd class="mt-1 text-sm text-gray-900">
            Metodologia para organizar as atividades pendentes.
          </dd>
        </div>
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">
            Membros
          </dt>
          <dd class="mt-1 text-sm text-gray-900">
            Lista de membros cadastrados da sua empresa.
          </dd>
        </div>
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">
            Guia rápido
          </dt>
          <dd class="mt-1 text-sm text-gray-900">
            Manual do usuário com informações sobre a plataforma.
          </dd>
        </div>
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">
            Sobre
          </dt>
          <dd class="mt-1 text-sm text-gray-900">
            Informações sobre a empresa responsável pela plataforma.
          </dd>
        </div>
      </dl>
    </section>
    <!-- Fim do card  -->

    <div class="flex-grow"></div>
    <app-footer></app-footer>
  </div>
</div>