<div class="flex flex-col lg:pt-40 w-full h-full py-4">
  <div class="shadow-lg flex flex-col rounded-lg py-3 px-4 h-full backdrop-blur-3xl bg-white/80">
    <h1 class="text-xl text-slate-500 mb-3 font-semibold">Minha Conta</h1>
    <div class="grid grid-cols-1 gap-x-8 gap-y-8 pt-10">
      <div class="px-4 sm:px-0">
        <h2 class="text-1xl font-semibold mb-4 translate-x-2">Atualize os seus dados</h2>
      </div>

      <form (ngSubmit)="updateUser()" class="bg-white shadow-sm ring-1 ring-gray-900/5 sm:rounded-xl md:col-span-2">
        <div class="px-4 py-6 sm:p-8">
          <div class="grid max-w-2xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">

            <!-- Nome -->
            <div class="sm:col-span-4">
              <label for="name" class="block text-sm font-medium leading-6 text-gray-900">Nome</label>
              <div class="mt-2">
                <input type="text" [(ngModel)]="session.user.name" name="name" id="name"
                  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
              </div>
            </div>

            <!-- Email -->
            <div class="sm:col-span-4">
              <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email</label>
              <div class="mt-2">
                <input type="email" [(ngModel)]="session.user.email" name="email" id="email"
                  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
              </div>
            </div>

            <!-- Senha atual -->
            <div class="sm:col-span-4">
              <label for="current_password" class="block text-sm font-medium leading-6 text-gray-900">Senha
                Atual</label>
              <div class="mt-2">
                <input type="password" [(ngModel)]="current_password" name="current_password" id="current_password"
                  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
              </div>
            </div>


            <!-- Nova Senha -->

            <div class="sm:col-span-4">
              <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Nova Senha Senha</label>
              <div class="mt-2">
                <input type="password" [(ngModel)]="password" name="password" id="password"
                  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
              </div>
            </div>

            <!-- Confirmar Nova Senha -->

            <div class="sm:col-span-4">
              <label for="confirmPassword" class="block text-sm font-medium leading-6 text-gray-900">Senha Atual</label>
              <div class="mt-2">
                <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" id="confirmPassword"
                  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
              </div>
            </div>

          </div>
        </div>
        <!-- Botões -->
        <div class="flex items-center justify-left gap-x-6 border-t border-gray-900/10 px-4 py-4 sm:px-8">
          <button type="button" class="text-sm font-semibold leading-6 text-gray-900">Cancelar</button>
          <button type="submit"
            class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
            Salvar
          </button>
        </div>
      </form>
    </div>
    <div class="flex-grow"></div>
    <app-footer></app-footer>
  </div>
</div>