<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">

      <div class="col-md-7 col-lg-5 col-xl-12 offset-xl-1">

        <form>
          <div class="d-flex justify-content-center align-items-center">
            <img src="../../../assets/img/brandeasyscheduling.png" class="img-fluid mx-auto" alt="Brand image">
          </div>

          <!-- Email input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="form1Example13">Endereço de e-mail</label>
            <input type="email" id="email" class="form-control form-control-lg" [(ngModel)]="email" name="email"
              required />
          </div>

          <!-- Password input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="form1Example23">Senha</label>
            <div class="input-group">
              <input [type]="isPasswordVisible ? 'text' : 'password'" id="password" class="form-control form-control-lg"
                [(ngModel)]="password" name="password" required />
              <button class="btn btn-outline-secondary" type="button" id="show-password"
                (click)="togglePasswordVisibility()">
                <i class="fas fa-eye"></i>
              </button>
            </div>
          </div>



          <div class="d-flex justify-content-around align-items-center mb-4">
            <!-- Checkbox -->
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="form1Example3" checked />
              <label class="form-check-label" for="form1Example3"> Lembrar-me </label>
            </div>
            <span class="btn-link" (click)="redirectToRecovery()" style="cursor: pointer;">Esqueceu sua senha?</span>
          </div>

          <!-- Submit button -->
          <div class="d-flex justify-content-center align-items-center">
            <button class="btn btn-primary btn-lg btn-block mx-auto" (click)="onSubmit()">Entrar</button>
          </div>

          <!--Alert-->
          <div *ngIf="showError" class="alert alert-danger">{{ error }}</div>



          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0 text-muted">Ou</p>
          </div>

          <div class="d-flex justify-content-center align-items-center">
            <button class="btn btn-primary btn-lg btn-block" style="background-color: #3b5998" type="button"
              (click)="redirectToRegister()">
              <i class="fas fa-plus me-2"></i>Cadastrar-me
            </button>
          </div>

        </form>
      </div>
    </div>
  </div>
</section>