<div class="login-container">
  <div class="login-login">
    <main class="login-login-container">
      <div class="login-logo">
        <img alt="brandeasyscheduling15148" src="/assets/img/brandeasyscheduling15148-97xq-200h.png"
          class="login-brandeasyscheduling1" />
      </div>
      <div class="login-text-registration">
        <span class="login-text-intro-acess">
          <span>Acessar a plataforma de agendamento</span>
        </span>
      </div>
      <div class="login-login-form">
        <div class="login-login-email">
          <span class="login-text-email">E-mail</span>
          <input type="text" placeholder="Digite seu e-mail" class="login-textinput input" [(ngModel)]="email" />
        </div>
        <div class="login-login-password">
          <span class="login-text-password">Senha</span>
          <input type="password" placeholder="Digite sua senha" class="login-textinput1 input" [(ngModel)]="password" />
        </div>
      </div>
      <div class="login-button-login">
        <button type="button" class="login-button-register" (click)="login()">
          <span class="login-text1"><span>Acessar</span></span>
        </button>
      </div>

      <div class="login-button-login1">
        <button type="button" class="login-button-login2">
          <span class="login-text3">Registrar-se</span>
        </button>
      </div>
    </main>
    <footer class="login-footer">
      <div class="login-footer-description">
        <span class="login-text4">
          Desenvolvido por Rafael Bernardes - emal: rafaelwake@icloud.com
        </span>
      </div>
    </footer>
  </div>
</div>