<section class="flex flex-col items-center justify-center h-screen w-full bg-violet-100 py-3">
  <div class="flex flex-col lg:flex-row p-3 rounded-3xl shadow-lg bg-white">
    <div class="flex flex-col gap-3 py-3 items-center justify-center px-3">
      <button (click)="redirectToLogin()" class="flex text-indigo-600 w-full items-center text-lg gap-3">
        <i class="fa-solid fa-arrow-left"></i>
        Voltar
      </button>
      <h2 class="py-3 text-zinc-800 font-extrabold text-2xl md:text-2xl">
        Cadastro
      </h2>
      <form class="flex flex-col w-full h-full items-center gap-3 px-4">
        <div class="flex flex-col w-full">
          <label for="name" class="font-semibold text-sm text-zinc-900 px-2">Nome<span
              class="text-red-500">*</span></label>
          <input required type="text" name="name" [(ngModel)]="user.name"
            class="rounded-full py-1 px-2 focus:shadow-sm w-full transition ease-in-out duration-150 outline-none border-2 border-gray-100 focus:border-gray-300" />
        </div>
        <div class="flex flex-col w-full">
          <label for="email" class="font-semibold text-sm text-zinc-900 px-2">E-mail <span
              class="text-red-500">*</span></label>
          <input required type="email" name="email" [(ngModel)]="user.email"
            class="rounded-full py-1 px-2 focus:shadow-sm w-full transition ease-in-out duration-150 outline-none border-2 border-gray-100 focus:border-gray-300" />
        </div>
        <div class="flex flex-col w-full">
          <label for="password" class="font-semibold text-sm text-zinc-900 px-2">Senha <span
              class="text-red-500">*</span></label>
          <div
            class="flex items-center rounded-full py-1 px-1 focus-within:shadow-sm w-full transition ease-in-out duration-150 outline-none border-2 border-gray-100 focus-within:border-gray-300">
            <input [type]="isPasswordVisible ? 'text' : 'password'" id="password" required type="password"
              name="passwordConfirmation" required class="outline-none  px-2" [(ngModel)]="user.password" />
            <span type="button" id="show-password" (click)="togglePasswordVisibility('password', $event)">
              <i id="show-password" class="fa-solid fa-eye text-gray-400 hover:text-gray-500 cursor-pointer"></i>
            </span>
          </div>
        </div>
        <div class="flex flex-col w-full">
          <label for="password" class="font-semibold text-sm text-zinc-900 px-2">Confirme a Senha <span
              class="text-red-500">*</span></label>
          <div
            class="flex items-center rounded-full py-1 px-1 focus-within:shadow-sm w-full transition ease-in-out duration-150 outline-none border-2 border-gray-100 focus-within:border-gray-300">
            <input [type]="isPasswordVisible ? 'text' : 'password'" id="password-confirmation" required type="password"
              name="passwordConfirmation" required class="outline-none  px-2" [(ngModel)]="passwordConfirmation" />
            <span type="button" id="show-password-confirmation"
              (click)="togglePasswordVisibility('password-confirmation', $event)">
              <i id="show-password" class="fa-solid fa-eye text-gray-400 hover:text-gray-500 cursor-pointer"></i>
            </span>
          </div>
        </div>
      </form>
      <!-- Checkbox -->
      <div class="flex items-center justify-between">
        <div class="flex items-center">
          <input class="form-check-input h-5 w-5 text-indigo-600 rounded" type="checkbox" value="" id="form1Example3">
          <label class="ml-2 block text-sm text-gray-900" for="form1Example3">
            Eu aceito os termos de uso e privacidade
          </label>
        </div>
      </div>
      <!--Alert-->
      <div *ngIf="showError" class="alert alert-danger  text-sm">{{ error }}</div>
      <div class="flex flex-col w-full justify-center items-center gap-2 pt-2">
        <button type="button" (click)="onSubmit()"
          class="py-1 px-2 rounded-full font-bold text-white w-full md:w-10/12 bg-indigo-600 hover:bg-indigo-500 ease-in-out transition duration-150">
          Finalizar cadastro
        </button>
      </div>

    </div>
  </div>
</section>
<app-footer></app-footer>