<div class="modal-header">
  <h4 class="modal-title">
    <h1 class="text-xl text-slate-500 mb-3 font-semibold">Novo agendamento</h1>
  </h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="flex flex-col gap-2 w-full justify-center items-center">
    <div class="flex flex-col w-full">
      <label for="email" class="font-semibold text-sm text-zinc-900 px-2">Título <span
          class="text-red-500">*</span></label>
      <input required type="text" name="email"
        class="rounded-full py-1 px-2 focus:shadow-sm w-full transition ease-in-out duration-150 outline-none border-2 border-gray-100 focus:border-gray-300" />
    </div>
    <div class="flex flex-col w-full">
      <label for="description" class="font-semibold text-sm text-zinc-900 px-2">Descrição <span
          class="text-red-500">*</span></label>
      <textarea required type="text" name="email"
        class="rounded-lg resize-none py-1 px-2 focus:shadow-sm w-full transition ease-in-out duration-150 outline-none border-2 border-gray-100 focus:border-gray-300"></textarea>
    </div>
    <div class="flex flex-col w-full">
      <label for="email" class="font-semibold text-sm text-zinc-900 px-2">Localização <span
          class="text-red-500">*</span></label>
      <input required type="text" name="email"
        class="rounded-full py-1 px-2 focus:shadow-sm w-full transition ease-in-out duration-150 outline-none border-2 border-gray-100 focus:border-gray-300" />
    </div>
    <div class="flex w-full gap-2">
      <div class="flex flex-col w-full">
        <label for="email" class="font-semibold text-sm text-zinc-900 px-2">Data e Hora do início <span
            class="text-red-500">*</span></label>
        <input required type="datetime-local" name="email"
          class="rounded-full py-1 px-2 focus:shadow-sm w-full transition ease-in-out duration-150 outline-none border-2 border-gray-100 focus:border-gray-300" />
      </div>
      <div class="flex flex-col w-full">
        <label for="email" class="font-semibold text-sm text-zinc-900 px-2">Tempo de duração estimado<span
            class="text-red-500">*</span></label>
        <input required type="time" name="email"
          class="rounded-full py-1 px-2 focus:shadow-sm w-full transition ease-in-out duration-150 outline-none border-2 border-gray-100 focus:border-gray-300" />
      </div>
    </div>

    <div class="flex w-full justify-end gap-2">
      <button class="bg-red-100 py-1 px-3 text-red-500 rounded-full">
        Cancelar
      </button>
      <button class="bg-green-100 py-1 px-3 text-green-500 rounded-full">
        Salvar
      </button>
    </div>
  </div>
</div>