<div class="bg-white">
  <main class="isolate">
    <div class="container mx-auto p-8">
      <h1 class="text-4xl font-bold mb-8">Kanban</h1>
      <h2 class="text-1xl font-semibold mb-4 translate-x-2">A metodologia Kanban é um sistema visual de gerenciamento de
        projetos e fluxo de trabalho, originado no Japão, que visa aumentar a eficiência e a colaboração em equipes.
        Baseada em colunas que representam diferentes estágios do processo, como "A fazer", "Fazendo" e "Concluído", a
        metodologia permite visualizar o progresso das tarefas, identificar gargalos e promover o trabalho em equipe ao
        limitar o número de tarefas em andamento. Kanban é uma abordagem eficiente para otimizar o desempenho da equipe
        e a satisfação do cliente.</h2>
      <div class="grid grid-cols-3 gap-8">
        <div class="bg-white p-4 rounded shadow">
          <h2 class="text-xl font-semibold mb-4">A fazer</h2>
          <div class="space-y-2">
            <!-- Add your 'To Do' items here -->
          </div>
        </div>
        <div class="bg-white p-4 rounded shadow">
          <h2 class="text-xl font-semibold mb-4">Fazendo</h2>
          <div class="space-y-2">
            <!-- Add your 'Doing' items here -->
          </div>
        </div>
        <div class="bg-white p-4 rounded shadow">
          <h2 class="text-xl font-semibold mb-4">Concluído</h2>
          <div class="space-y-2">
            <!-- Add your 'Done' items here -->
          </div>
        </div>
      </div>
    </div>
  </main>
  <div class="pt-16 bottom-0">
    <app-footer></app-footer>
  </div>
</div>