/* Importação do CSS do Bootstrap */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import "~bootstrap/dist/css/bootstrap.css";
@import '~@fortawesome/fontawesome-free/css/all.css';


.fc-header-toolbar{
  margin-bottom: 15px !important;
}

#fc-dom-1, .fc-toolbar-title {
  font-size: 1rem !important;
  color: rgb(100 116 139 / var(--tw-text-opacity)) !important;
  font-weight: 600 !important;
  font-size: 1.25rem !important;
  line-height: 1.75rem !important;
}

.fc-button-group{
  gap: 5px;
}

.fc-button{
  background-color: rgb(224 231 255 / var(--tw-bg-opacity)) !important;
 
  padding: 2px !important;
  width: 25px !important;
  height: 25px !important;
  border: none !important;
  display: flex !important;
  justify-content: center !important;
  border-radius: 100% !important;
  color: #6366f1 !important;
  outline: none !important;
}

.fc-day {
  border: #fafafa 0.3px solid !important;
}
.fc-day:hover {
  border: #f4f4f5 0.5px solid !important;
}

.fc-scrollgrid {
 border-radius:15px !important; 
}

/* Estilos personalizados para a barra de rolagem */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color:  rgb(160, 169, 250);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
