<div class="flex flex-col lg:pt-40 w-full h-full py-4">
  <div class="shadow-lg flex flex-col rounded-lg py-3 px-4 h-full backdrop-blur-3xl bg-white/80">
    <h1 class="text-xl text-slate-500 mb-3 font-semibold">Agendamentos</h1>
    <div class="flex flex-1 w-full overflow-auto">
      <div class="flex flex-col gap-5 flex-1 w-full px-4">
        <!-- Card -->
        <div *ngFor="let appointment of appointments"
          class="flex w-full p-3 border opacity-75 hover:opacity-100  hover:border-none backdrop-blur-3xl cursor-pointer  rounded-lg transition ease-in-out duration-300 hover:shadow-lg">
          <div class="flex flex-col gap-2">
            <div class="flex justify-between w-full">
              <h3 class="text-zinc-800 mr-2">{{ appointment.title }}</h3>
              <div class="flex gap-3">
                <button class="bg-sky-50 text-sky-500 hover:bg-sky-100 text-sm rounded-full px-2 py-1">
                  <i class="fa-solid fa-paper-plane"></i>
                  Convidar
                </button>
                <button class="bg-yellow-50 text-yellow-500 hover:bg-yellow-100 text-sm rounded-full px-2 py-1">
                  <i class="fa-solid fa-pen-to-square"></i>
                  Editar
                </button>
                <button (click)="openModal(appointment.id)"
                  class="bg-red-50 text-red-500 text-sm hover:bg-red-100 rounded-full px-2 py-1">
                  <i class="fa-solid fa-trash"></i>
                  Deletar
                </button>
              </div>
            </div>
            <p class="text-zinc-400">{{ appointment.description }} </p>
            <div class="flex gap-2 w-full text-sm">
              <span class="rounded-full gap-1 px-2 py-1 bg-slate-50 text-slate-500">
                <i class="fa-solid fa-location-crosshairs"></i>
                {{ appointment.location }}
              </span>
              <span class="rounded-full gap-1 px-2 py-1 bg-slate-50 text-slate-500">
                <i class="fa-solid fa-hourglass-start"></i>
                <b class="text-green-400">Início</b> {{ parseDate(appointment.date) | date:'dd/MM/yyyy' }} as {{
                parseDate(appointment.date) | date:'HH:mm' }}h - <b class="text-red-400">Fim</b> {{
                parseEndTime(appointment.date,
                appointment.duration) | date:'dd/MM/yyyy' }} as {{ parseEndTime(appointment.date, appointment.duration)
                | date:'HH:mm' }}h
              </span>
              <span title="+3 participantes" class="rounded-full gap-1 px-2 py-1 bg-slate-50 text-slate-500">
                <i class="fa-solid fa-user-group"></i>
                + {{ appointment.invite }}
              </span>
            </div>
          </div>
        </div>

        <!-- Fim do card  -->
      </div>
      <div class="flex flex-col pb-2 gap-2 w-full max-w-md mr-4">
        <app-calendar [calendarEvents]="eventArray" class="w-full"></app-calendar>

        <div class="flex justify-center">
          <button (click)="newAppointment()"
            class="py-1 px-3 flex items-center bg-indigo-50 text-indigo-500 hover:bg-indigo-100 transition ease-in-out duration-300 gap-1 rounded-full">
            <i class="fa-solid fa-calendar-plus"></i>
            Criar evento
          </button>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>